body {
    font-family: Arial, sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }
  
  .profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .profile-info {
    text-align: center;
    margin-top: 2rem;
  }
  
  .name {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #ff0000;
  }
  
  .bio {
    font-size: 1.2rem;
    color: #ff0000;
  }

  .button {
    background-color: #4c56af; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  .button:hover{
    background-color: #ff0000;
  }